.type{
	font-family: Courier;
	font-size: 43px;
	color: white;
	padding-left: 65%;
	max-width: 550px;
}
#selfie{
	float: left;
	width: 20%;
}
#ledray{
	float: left;
	width: 14.75%;
}
#white{
	float: left;
	width: 28.1%;
}
.clear{
	opacity: 30%;
}
